@font-face {

    font-family: Inter;
    src: url(../fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

body{

    font-family: Inter, sans-serif;
    font-size: 15px;

    margin: auto;
}

    #wrapper{
        
        display: flex;
        justify-content: center;

        height: 970px;
        width: 1920px;
    }


        #prof_con{ /* Professional Container */
        
            background-color: black;
            
        

            height: 900px;
            width: 130px;

            margin-top: 35px;
            margin-left: 35px;
        }

            #job{ /* YOUR PROFESSIONAL */

                writing-mode: vertical-lr;

                transform: rotate(180deg);      
            
                text-align: center;

                color: white; 
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 72px;

                height: 900px;
                width: 110px;

                margin-left: 0;  
            }


        #data_con{ /* Data Container */
            
            height: 900px;
            width: 635px;

            margin-top: 35px;
            margin-left: 45px;
        }

            #name_con{

                height: 170px;            
            }

                #name{ /* NAME SURNAME */
      
                    font-size: 52px;                   
                }

            #socials_con{ /* Socials Container */
                
                display: flex;
                justify-content: space-between;

                font-size: 18px;

                height: 70px;
                width: 100%;


                margin-top: 10px;
                margin-left: 0px;


            }

                #social1{
                    
                }

                #social2{
                    
                }

                #social3{
                    
                }


            .headline{ /* Headline */

                color: black;
                
                font-size: 30px;

                margin: auto;
                margin-top: 30px;
            }

            .underscore{ /* Headline Underscore */
                border-bottom: 3px solid rgb(0, 0, 0);

                height: auto;

                margin-top: 5px;
            }

        
        #skills_con{ /* Fähigkeiten Container */

            display: flex;
            justify-content: flex-start;

            margin-top: 0px;
        }

            #list1{
                
                height: 150px;
                width: 317px;

                margin-left: -20px;
            }

            #list2{
                
                height: 150px;
                width: 317px;
            }

            .ulistsq{ /* List Style Square */
      
                list-style-type: square;
   
                font-size: 18px;
            }


        .con{ /* Qualification Container */  
            
            display: flex;
            justify-content: flex-start;

            font-size: 16px; 

            height: 60px;
        }

            .dates{ /* Container-Date */
                         
                height: 90px;
                width: 80px;

                margin-left: 0px;
            }

            .title{

                height: 90px;
                width: 100%;

                margin-left: 20px;
            }

            .text{ /* Container-Text */
    
                text-align: justify;

                margin-top: 6px;
                margin-left: 91px;   
            }




        #pic_con{ /* Photo Container */

            background-color: rgb(212, 175, 55);
                    
            display: flex;
            justify-content: center;

            height: 900px;
            width: 400px;

            margin-top: 35px;
            margin-left: 45px;
        }

            #personal_con{ /* Personal Statement Container */

                height: 820px;
                width: 250px;

                margin-top: 40px;
            }

                #photo{

                    background-image: url("../images/morpheus.jpg");
                    background-size: cover;

                    height: 250px;
                    width: 200px;

                    margin-left: 25px;
                }

                .headline_small{ /* Headline Small */

                    color: black;
                    
                    font-size: 16px;
    
                    margin: auto;
                    margin-top: 30px;
                }

                #text_small{

                    text-align: justify;
                            
                    font-size: 14px;

                    height: 270px;
                }

                #address_con{

                    display: flex;
                    justify-content: center;

                    font-size: 15px;

                    margin-top: 35px;
                    margin-left: -41px;
                }

                    #address{
                        
                        background-image: url("../images/address.png");
                        background-size: cover;

                        height: 25px;
                        width: 35px;

                        margin-top: 30px;
                        margin-right: 9px;
                    }

                #phone_con{ /* Phone Container */
                    
                    display: flex;
                    justify-content: center;

                    font-size: 15px;

                    margin-top: -15px;
                    margin-left: -36px;
                }

                    #phone{
                        
                        background-image: url("../images/phone.png");
                        background-size: contain;

                        height: 29px;
                        width: 16px;

                        margin-top: 9px;
                        margin-right: 18px;
                    }

                #email_con{ /* E-Mail Container */
        
                    display: flex;
                    justify-content: center;

                    font-size: 15px;

                    margin-top: -10px;                 
                }

                    #email{
                        
                        background-image: url("../images/email.png");
                        background-size: contain;

                        height: 18px;
                        width: 29px;

                        margin-top: 15px;
                        margin-right: 10px;
                    }


        #xp_con{ /* EXPERIENCE Container */
            
            height: 900px;
            width: 650px;

            margin-top: 35px;
            margin-left: 45px;
            margin-right: 35px;
        }

        .spacing{
        
            height: 20px;
        }

            
